.container {
    padding: 0 2rem;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > .MuiInputBase-input{
    background-color: #fff !important;
}

.logs {
    color: #A3E5BA;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    height: 70px;
}

.button {
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.button:active {
    position: relative;
    top: 1px;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}


.formContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5rem;
}



.form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
}

.actionButton {
    margin-top: 2rem;
    background: #1F3D5A;
    width: 10rem;
    
}

.actionButton:hover {
    background: #1F3D5A;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform:  scale(1.02) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

.contentWrapper > h1 {
    color: #1F3D5A;
    font-size: x-large;
    font-weight: 700;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background: white;
    height: 32rem;
    border-radius: 10px;
    padding: 2.5rem 5rem;
}

.largeInput {
    grid-column-start: 1;
    grid-column-end: 3;
}
.buttonWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.messageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: -1rem;
}

.messageWrapper > input {
    width: 30rem;
}